In [2]:
import pandas as pd

In [8]:
pro_ids = ['68478bceda532e24d18a322b','67297f70d21c6b7122a7b4d8','5c43517c8fefb60001c447fe','6841eaf1a77941aa86041c54','6844ec5c3f032b8836dc5afb','684a3771c56bb750e8fe13d8','67ace9b8a3dada8f64274fd7','67ad8db455c99b14bcca9a26','5f46cd85e858dd0a24269315','5d2df867d7cc160019673031','682e1dfae06b67a1f4ce070e','65d58a52bf45343f7055b0e3','67e7b44b708fcee3c458d4cf','683f4c4a95e6ac73e9eff935','6733e5e2a104a80184bf6358','6548f960db60a00d76e92695','66e367ac9940dc1f0027eff1','6840e0c53c5973f71512e724','68406af7706e13b75e68962e','6554ea27378d1f1b846788b3','6843d1689d61b53eeae097b1','683ca599021675cdcae2a561','682e2a3e8a44f3f4e2aac127','68325a01e0770b3870ea26b3','614ebfa6eff131515482a146','67042439a81ac83981a36a73','67799d763d5bf5489ac2b034','67871b7310fcb596ca70075d','655fd05c12d38751dfa91559','683b76dbdec83b1c5a663d27']

In [12]:
round = 9
annot_list = []
for idx, id in enumerate(pro_ids):
    if idx > 0 and idx % 6 == 0:
        round += 1
    annot = [id, round]
    annot_list.append(annot)

df = pd.DataFrame(annot_list,columns=['id','round'])

In [13]:
df

                          id  round
0   68478bceda532e24d18a322b      9
1   67297f70d21c6b7122a7b4d8      9
2   5c43517c8fefb60001c447fe      9
3   6841eaf1a77941aa86041c54      9
4   6844ec5c3f032b8836dc5afb      9
5   684a3771c56bb750e8fe13d8      9
6   67ace9b8a3dada8f64274fd7     10
7   67ad8db455c99b14bcca9a26     10
8   5f46cd85e858dd0a24269315     10
9   5d2df867d7cc160019673031     10
10  682e1dfae06b67a1f4ce070e     10
11  65d58a52bf45343f7055b0e3     10
12  67e7b44b708fcee3c458d4cf     11
13  683f4c4a95e6ac73e9eff935     11
14  6733e5e2a104a80184bf6358     11
15  6548f960db60a00d76e92695     11
16  66e367ac9940dc1f0027eff1     11
17  6840e0c53c5973f71512e724     11
18  68406af7706e13b75e68962e     12
19  6554ea27378d1f1b846788b3     12
20  6843d1689d61b53eeae097b1     12
21  683ca599021675cdcae2a561     12
22  682e2a3e8a44f3f4e2aac127     12
23  68325a01e0770b3870ea26b3     12
24  614ebfa6eff131515482a146     13
25  67042439a81ac83981a36a73     13
26  67799d763d5bf5489ac2b034     13
27  67871b7310fcb596ca70075d     13
28  655fd05c12d38751dfa91559     13
29  683b76dbdec83b1c5a663d27     13

In [3]:
agg = pd.read_csv('aggregated.csv',header=0)

In [4]:
agg

                         p_id  round  mean_style_score
0    55a9f6a1fdf99b2d81b5295f      2          3.300000
1    5608a73fd7def20012b7389d      4          3.250000
2    5753046ba6deb50006d64b0f     11          3.250000
3    580d5d1f357e890001dd14ce      8          3.100000
4    58f7cdd4c31d4d00015aac83      1          3.166667
..                        ...    ...               ...
125  6844ec5c3f032b8836dc5afb     10          3.575000
126  68478bceda532e24d18a322b      9          2.950000
127  6848b86c31ff951705fe0721     13          2.625000
128  68499336b2a3912ef86bf3ee     10          2.950000
129  684a3771c56bb750e8fe13d8     12          2.825000

[130 rows x 3 columns]

In [31]:
for idx,annot in enumerate(annot_list):
    id, rd = annot
    rd = agg.loc[agg['p_id'] == id, 'round'].item()
    annot = id, rd
    annot_list[idx] = annot

In [43]:
annot_list = sorted(annot_list, key=lambda annot: annot[1])
df = pd.DataFrame(annot_list,columns=['id','round'])

In [ ]:
df.insert(2,'agr','')

In [ ]:
df.to_csv('new_random_annot.csv',index=False)

In [5]:
annot_df = pd.read_csv('new_random_annot.csv', header=0)

In [ ]:
annot_df = annot_df.rename(columns={'id':'p_id'})

In [73]:
def add_agr(id, round=9, agr='yes'):
    if id in annot_df:
        annot_df.loc[annot_df['p_id']==id,'agr'] = agr
    else:
        annot_df.loc[len(annot_df)] = [id,round,agr]

    # print(agr_item)
    # annot_df.replace(agr_item,agr)

In [63]:
add_agr('614ebfa6eff131515482a146','yes')
add_agr('5d2df867d7cc160019673031','yes')
add_agr('67ace9b8a3dada8f64274fd7','yes')
add_agr('6733e5e2a104a80184bf6358','yes')
add_agr('6554ea27378d1f1b846788b3','yes')

/var/folders/bl/m0vvf7f922qcmpcgw7l2vzjr0000gn/T/ipykernel_25112/1343879204.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'yes' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  annot_df.loc[annot_df['p_id']==id,'agr'] = agr

In [71]:
annot_df.to_csv('new_random_annot.csv',index=False)

In [66]:
# agg.loc[~agg.loc[:,'p_id'].isin(annot_df.loc[:,'p_id'])] and agg.loc[~agg.loc[:,'round'].isin(annot_df.loc[:,'round'])]

In [67]:
filtered_agg = agg[
    (~agg['p_id'].isin(annot_df['p_id'])) &
    (agg['round'].isin(annot_df['round']))
]

In [68]:
filtered_agg.sort_values(by=['round']).to_csv('rem_random_annot.csv',index=False)

In [69]:
print(','.join(filtered_agg['p_id'].tolist()))

5753046ba6deb50006d64b0f,5e8caf1b063693041f6ac524,663e3cee91031227e894384a,6650b582a7a14d7179997819,66eddcfe67e927db6f0a4768,673696f7eb242cad3b6230ef,67ad3b723dcec072cfdf7815,67d38e686bef986a7bf9e769,67d9376e7e1045d6057326bd,67df17f6673d3c0754f7fb33,682a234ab14c7bd80b9b5d47,682ccced13479526ebcb4360,682fa2f5aa8edd41cd06722a,683761c496867fc42f6f571b,683b2e27e104483882e25c00,683f8dfd46ee96edd290371c,6840b151c4d7e9898535450f,6844b3c2054528c906e04f16,6848b86c31ff951705fe0721,68499336b2a3912ef86bf3ee

In [ ]:
add_agr('66eddcfe67e927db6f0a4768','yes')

In [ ]:
# Hello, thank you for participating in our study on Gendered Style Perception. As part of our research, we wanted to get re-annotations for some of the texts, and have selected a few participants randomly for the same. Kindly let us know if you are willing to participate in re-annotating the texts from the study. If yes, we will provide you with further details.

In [76]:
add_agr('67ad3b723dcec072cfdf7815',13,'yes')
add_agr('66eddcfe67e927db6f0a4768',12,'yes')
add_agr('5e8caf1b063693041f6ac524',12,'yes')
add_agr('5753046ba6deb50006d64b0f',11,'yes')

In [81]:
annot_df = annot_df.sort_values(by=['round'])

In [82]:
annot_df.to_csv('new_random_annot.csv',index=False)